.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
   

}
 .portfolio span:nth-of-type(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}
.portfolio span:nth-child(2){
    color: var(--orange);
    font-size: 3.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--orange);
}



.portfolio .swiper{
    overflow: visible !important;
}
.portfolio-slider{
    margin-top: 3rem;
    width: 50%;
    
    /* justify-items: center; */
}
/* .portfolio-slider .swiper-slide{
    width: 1rem;
} */
.portfolio img{
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    filter:drop-shadow(-12px 15px 13px rgba(84, 22, 22, 0.645)) ;
    border-radius: 19px;
    &:hover{
        box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.297);
    }
} 




@keyframes zoominout {
    to{
        transform: scale(1.8);
    }
    
}
@media screen and (max-width:480px) {
    .portfolio img{
        height:25vh ;
        width: auto;
    }
} 