
.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3.5rem;
}
.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
   
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:center ;
    font-weight: 400;
    padding: 0rem 3.5rem;
}
.n-list{
    flex: 10;
}
.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
    >:hover{
        color: var(--orange);
        transform: scale(1.2);
    }
   
}

.n-button{
    flex:2 ;
}
@media screen and (max-width:480px){
    .n-wrapper{
        padding: 0rem 1rem ;
    }
    .n-list{
        display: none;
    }
   
}