.footer{ 
    /* height: 25vh; */
    width: 100%;
    min-height: 50px;
    /* background-color: var(--black); */
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}
.l-footer{
    width: 100%;
    padding: 0 0 0 0%;
    /* border-left: 20px;
    border-right: 20px; */
}
.l-footer>img{
    width: 170px;
    height: 200px;
    /* border-radius: 90px; */
    object-fit: contain;    
    padding: 0 100px;
    border-left: 2px solid var(--orange);
    border-right: 2px solid var(--orange);

}
.name>h2{
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 0 0;
    padding-top: 120px;
}
.name>p{
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 1px;

}
.r-footer{
    margin: 0px 20px 0px 0;
}
.r-footer>h2{
    color: var(--orange);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 0 0 0;
    padding-top: 120px;
}
.r-footer .i-icons{
    margin: -15px 0 0 0;
}
.footer .r-footer .blur-2{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    filter: blur(72px);
    left: 65%;
}
/* .footer .blue-blur{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #1977dd;
    z-index: 1;
    filter: blur(72px);
    left: -50%
} */
/* .s-blur2{
    height: 20px;
    width: 20px;
    left: 10rem;
    top: 0rem;
} */
@media screen and (max-width:480px) {
    .blur-2{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .l-footer>img{
        padding: 0px 30px 0 30px;
    }
    .r-footer{
        margin-top: -30px 0 0 px;
        padding-left: 20px;
    }
}