:root
{
  --brown: #b85050;
    --orange : #ff4a08;
    --black : #242D49;
    --gray : #788097;
    --lightblue : #042497;
    --blue: #010c4e;
    /* --blueCard : #DDF8FE;
    --purple: rgb(238 210 255); */
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: #db242490;
    --smboxShadow: -7px 51px 60px rgba(0, 0, 0, 0.08);
    background-color: #ffe3e3;
}

.App{
  /* padding: 0rem 3.5rem; */
    overflow: hidden;
    color: var(--black); 
    width: 100%;   
}

.button{
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #042497 26.71%, #010c4e 99%);
  box-shadow: 0px 8px 24px 1px rgba(2, 31, 255, 0.42);
}


.button:hover{
  background: white;
  cursor: pointer;
  color: #010c4e;
  border: 1px solid #042497;
  box-shadow: 0 0 1px 2px #042497b7;
  transform: scale(1.1);
}
@keyframes zoom {
  to{
      transform: scale(1.1);
  }

}

  @media screen and (max-width:480px) {
    .App{
      padding: 0.5rem 1rem;
    }
    
  }

  
